@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
*{
  font-family:"Noto Sans",sans-serif;
}

body{
  margin:0;
  padding:0;
  background-color:#2f3640;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.container{
  width:400px;
  padding:20px;
  background-color:rgb(245, 225, 225);
  border-radius:10px;
  box-shadow:0 4px 8px rgb(154, 197, 154);
 
  
  
  
}

.input-container{
  width:100%;
  display:flex;
  align-items:center;
  border:2px solid black;
  border-radius:15px;
  overflow:hidden;

}
.cityinput{
  flex:1;
  height:30px;
  border:none;
  font-size:16px;
  outline:none;
  background-color:rgb(245, 225, 225);
}
.search{
  
  
  padding:10px;
  height:30px;
  cursor:pointer
}
.images{
  height:250px;
  width:250px;
  border-radius:50px;
  margin:10px;
  
}
.image{
  text-align:center;
}

.temp,
.location,
.country{
  margin-top:5px;
  font-size:35px;
  color:black;
  text-transform:uppercase;
  text-align:center;
}

.temp{
  font-weight:600px;
}
.location{
  color:orange;
  font-weight:400px;
  font-size:40px;
}

.country{
  font-size:20px;
  color:black;
  font-weight:500;

}
.cord{
  display:flex;
  justify-content:center;
  gap:15px;
  margin:5px;
}

.cord div{
  display:flex;
  flex-direction:column;
  text-align:center;
  padding:10px;
  border:rgb(73, 4, 4) solid;
  border-radius:25px;
}
.humidity-percent,
.wind-percent,
.cord div span:nth-child(2){
  font-size:18px;
  font-weight:bold;
  color:#600;
  
}
.data-container{
  display:flex;
  justify-content:space-between;
  margin-top:2px;
}

.element{
  text-align:center; 
}

.text{
  font-size:13px;
  color:rgb(95, 118, 4);
}
.copyright{
  text-align:center;
  font-size:12px;
  color:#600;
}

.notfound{
  color:red;
  font-weight:bold;
  margin-top:10px;
  text-align:center;
}